.grid-main {
  display: grid;
  min-height: 100vh;
  grid-template-rows: repeat(1, 1fr) 80px;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.grid-main > :last-child {
  grid-column: 1 / -1;
}
.grid-main > :nth-child(2) {
  grid-column: span 3;
}
