@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-main {
  padding: 10px 0 0;
}

.grid-main main {
  padding: 0 10px 0 0;
}

.grid-main aside {
  padding: 0 0 0 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
