@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.Mui-selected {
  background: #edf4fb !important;
  transition: all ease-in-out 200ms !important;
  -webkit-transition: all ease-in-out 200ms !important;
  -moz-transition: all ease-in-out 200ms !important;
  -ms-transition: all ease-in-out 200ms !important;
  -o-transition: all ease-in-out 200ms !important;
}

.Mui-selected:hover {
  background: rgb(216, 230, 245) !important;
}

.table-options > * {
  margin-right: 5px;
}
